/* 
    CSS Reset
        -  resets the predefined margin and padding by browser. It is better
           to manipulate the elements using 0 margin and padding.

        padding: 0;
        margin: 0;

    Margin - is the space outside the border
    Padding - is the space inside the border

    Default Calculation of Dimension: border + margin + padding + content(height and width)
    Box-sizing - determines how the dimensions of the element will be calculated
               - total width = width + padding + border-size
               - total height = height + padding + border-size
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div1 {
    /* margin: 50px; */
    padding: 20px;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: text-top;
}

/* 
    margin: <top-bottom> <left-right>
    margin: <top> <bottom> <left-right>
    margin: <top> <right> <bottom> <left>

    vertical-align: top; - the contents will be aligned to the top of the box
*/

#div2 {
    /* margin: 25px 100px; */
    /* margin: 10px 70px 50px; */
    /* margin: 100px 10px 15px 50px; */
    border: 2px solid black;
    padding: 20px;
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: red;
    vertical-align: text-top;
}

/* 
    The absense of padding will cause the element to be measured from the topmost and leftmost part
*/

#span1 {
    display: inline-block;
    border: 2px solid black;
    background-color: green;
    height: 100px;
    width: 100px;
    vertical-align: text-top;
}

#span2 {
    display: inline-block;
    border: 2px solid black;
    background-color: blue;
    height: 100px;
    width: 100px;
    vertical-align: text-top;
}