* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    padding: 0.8rem;
}

nav > ul { list-style-type: none; }

nav li {
    display: inline;
    margin: 0.5rem;
}

#intro, #info {
    padding: 2rem 10% 3rem 10%;
    text-align: center;
}

#intro > h2, #intro > p, #info > h2, #info h3 { margin-bottom: 1rem; }

#intro button {
    background-color: #C2395B;
    border: 1px solid #C2395B;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
}

#intro button:hover {
    background-color: white;
    color: #C2395B;
}

#info > .card {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-height: 180px;
    padding: 10px;
    vertical-align: text-top;
    width: 30%;
}

#prefooter > .section {
    display: inline-block;
    width: 20%;
}

#prefooter {
    background-color: rgb(0, 37, 64);
    color: white;
    padding: 20px; 
}

#footer {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}